/*** STYLESHEET FOR PERSONAL PORTFOLIO ***/

/** GENERAL STYLING **/

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Quicksand&display=swap");

/* Applies To Every Element */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HTML */
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

/* Body */
body {
  background: #252627;
  overflow-x: hidden;
}

/** VISIBLE STYLING **/

/* Scrollbar Styling */
::-webkit-scrollbar {
  background: #252627;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #d0382a;
  border-radius: 6px;
  height: 200px;
}

::-webkit-scrollbar-thumb:active {
  background: #edf2f4;
}

h2 {
  color: #edf2f4;
  font: 100 10rem "Fredoka One", cursive;
  opacity: 0.1;
  z-index: 0;
}

/* Header */
header {
  align-items: center;
  display: flex;
  height: 100vh;
  padding: 0 8rem;
}

.landing-page-text h1 {
  color: #edf2f4;
  cursor: context-menu;
  font: 100 4.5rem "Fredoka One", cursive;
}

.landing-page-text span {
  display: inline-block;
}

span.name {
  color: #d0382a;
}

span.m-left {
  margin-left: -1rem;
}

.landing-page-text p {
  color: #8d99ae;
  font: 500 1.1rem "Quicksand", sans-serif;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
}

.landing-page-text a {
  background-color: none;
  border: 0.2rem solid #d0382a;
  color: #d0382a;
  display: inline-block;
  font: 900 1rem "Quicksand", sans-serif;
  letter-spacing: 0.15rem;
  margin-top: 3rem;
  overflow: hidden;
  padding: 1rem 3rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.landing-page-text a:hover {
  color: #edf2f4;
}

.landing-page-text a::before {
  background-color: #d0382a;
  content: "";
  height: 0%;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: -1;
}

.landing-page-text a:hover::before {
  height: 100%;
}

.landing-page-img {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
}

.landing-page-img img {
  height: auto;
  width: 100%;
}

/* Project Section */
#projects,
#skills {
  margin: 0 auto;
  width: 90%;
}

.work {
  text-align: center;
  width: 100%;
}

.work img {
  margin: 1%;
  width: 45%;
}

/* Skills Section */
#skills .skill {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin-inline: auto;
}

.skill .set {
  background-color: #252627;
  padding: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}

.skill .set:hover {
  box-shadow: 0 0.9rem 1rem black;
}

.set span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 3rem;
  background-color: #d0382a;
  color: #edf2f4;
  border-radius: 35%;
  margin-inline: auto;
}

.set > h3 {
  color: #edf2f4;
  font: 300 2rem "Quicksand", sans-serif;
  padding-block: 1.5rem;
  text-align: center;
}

.set .list {
  padding: 0.5rem;
  font: 300 1.3rem "Quicksand", sans-serif;
  display: grid;
  grid-template-columns: 1fr 2rem;
  color: #8d99ae;
  text-transform: uppercase;
}

.set:hover .list {
  color: #edf2f4;
}

@media screen and (min-width: 600px) {
  .skill {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .skill {
    grid-template-columns: 1fr;
  }
}
